{% extends "base.html" %}


{# load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load i18n %}

{% block content %}
    <h1 class="my-4">{{ title }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% translate "ID" %}</th>
                <th>{% translate "Username" %}</th>
                <th>{% translate "Full name" %}</th>
                <th>{% translate "Date joined" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for u in object_list %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.get_full_name }}</td>
                <td>{{ u.date_joined }}</td>
                <td>
                    {% if u == user %}
                    <a href="{% url 'user_edit' pk=user.id %}">{% translate "Edit" %}</a>
                    <br>
                    <a href="{% url 'user_destroy' pk=user.id %}" rel="nofollow">{% translate "Delete" %}</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}