<!DOCTYPE html>
<html lang="en">
<head>
    {# load the tag library #}
    {% load bootstrap4 %}
    {% load i18n %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <meta charset="UTF-8">

    <title>{% block title %}{% translate "Task Manager" %}{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100 vsc-initialized"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="{% url 'index' %}">{% translate "Task manager" %}</a>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_index' %}">{% translate "Users" %}</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'statuses_index' %}">{% translate "Statuses" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'labels_index' %}">{% translate "Labels" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks_index' %}">{% translate "Tasks" %}</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'user_logout' %}">{% translate "Logout" %}</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'user_login' %}">{% translate "Enter" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'user_create' %}">{% translate "Register" %}</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <div class="container wrapper flex-grow-1">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
    </div>
</body>
</html>